.fa-cart-plus {
  position: relative;
  color: rgb(227, 227, 227);
  font-size: 1.5rem;
}
.badge {
  font-size: 0.5rem;
  position: relative;
  bottom: 0;
  right: 0;
}

.seacrh-form {
  position: relative;
  .form-control {
    padding-right: 2.5rem;
  }
}

.fa-magnifying-glass {
  position: absolute;
  right: 0rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.75rem;
}
